#Created by Constraints Editor (xc6slx9-tqg144-3) 
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;


NET "clk" LOC = P56;
NET "rst_n" LOC = P38;

NET "led<0>" LOC = P134;
NET "led<1>" LOC = P133;
NET "led<2>" LOC = P132;
NET "led<3>" LOC = P131;
NET "led<4>" LOC = P127;
NET "led<5>" LOC = P126;
NET "led<6>" LOC = P124;
NET "led<7>" LOC = P123;

NET "a<0>" LOC = P143;
NET "a<1>" LOC = P144;
NET "a<2>" LOC = P1;
NET "a<3>" LOC = P2;
NET "a<4>" LOC = P51;
NET "a<5>" LOC = P50;
NET "a<6>" LOC = P41;
NET "a<7>" LOC = P40;

NET "b<0>" LOC = P29;
NET "b<1>" LOC = P30;
NET "b<2>" LOC = P26;
NET "b<3>" LOC = P27;
NET "b<4>" LOC = P35;
NET "b<5>" LOC = P34;
NET "b<6>" LOC = P33;
NET "b<7>" LOC = P32;

NET "c<0>" LOC = P58;
NET "c<1>" LOC = P57;
NET "c<2>" LOC = P67;
NET "c<3>" LOC = P66;
NET "c<4>" LOC = P75;
NET "c<5>" LOC = P74;
NET "c<6>" LOC = P79;
NET "c<7>" LOC = P78;

NET "c<8>" LOC = P114;
NET "c<9>" LOC = P115;
NET "c<10>" LOC = P111;
NET "c<11>" LOC = P112;
NET "c<12>" LOC = P104;
NET "c<13>" LOC = P105;
NET "c<14>" LOC = P101;
NET "c<15>" LOC = P102;

NET "c<16>" LOC = P11;
NET "c<17>" LOC = P12;
NET "c<18>" LOC = P9;
NET "c<19>" LOC = P10;
NET "c<20>" LOC = P7;
NET "c<21>" LOC = P8;
NET "c<22>" LOC = P5;
NET "c<23>" LOC = P6;

NET "c<24>" LOC = P15;
NET "c<25>" LOC = P14;
NET "c<26>" LOC = P17;
NET "c<27>" LOC = P16;
NET "c<28>" LOC = P22;
NET "c<29>" LOC = P21;
NET "c<30>" LOC = P24;
NET "c<31>" LOC = P23;

