NET "clkin" LOC = P55;
NET "hout" LOC = P27;
NET "vout" LOC = P29;
NET "rout[5]" LOC = P17;
NET "rout[4]" LOC = P21;
NET "rout[3]" LOC = P22;
NET "rout[2]" LOC = P23;
NET "rout[1]" LOC = P24;
NET "rout[0]" LOC = P26;
NET "gout[5]" LOC = P10;
NET "gout[4]" LOC = P11;
NET "gout[3]" LOC = P12;
NET "gout[2]" LOC = P14;
NET "gout[1]" LOC = P15;
NET "gout[0]" LOC = P16;
NET "bout[5]" LOC = P2;
NET "bout[4]" LOC = P5;
NET "bout[3]" LOC = P6;
NET "bout[2]" LOC = P7;
NET "bout[1]" LOC = P8;
NET "bout[0]" LOC = P9;
NET "psave_bar" LOC = P34;